{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="alert" style="display:none;"></div>
            <div id="popup" style="display: none"></div>
            <div class="col-12 mt-3 login-form">
                <h2 class="text-center mb-4">Редактирование категорий</h2>

                <form method="post">
                    {% if message %}
                        {% if message.0 == "True" %}
                            <div class="alert alert-success text-center" role="alert">
                        {% elif message.0 == "False" %}
                            <div class="alert alert-danger text-center" role="alert">
                        {% endif %}
                            {{ message.1 }}
                        </div>
                    {% endif %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% endif %}

                    {% csrf_token %}

                    {{ form }}

                    <button type="submit" class="btn btn-success">Изменить</button>
                </form>
            </div>
        </div>
    </div>
<style>
    .login-form * {
        margin-bottom: 0.2rem;
    }
</style>
<script>
    $(document).ready(function() {
        function changeClass() {
            let inputs = document.querySelectorAll("input");
            inputs.forEach(function(input) {
                input.classList.add("form-check-input");
            });
        }

        changeClass();
    });

</script>
{% endblock %}